*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculadora-contenedor{
    width: 500px;
    height: 550px;
    padding: 50px;
    background-color: rgb(53, 53, 53);
    border-radius: 10px;
}


.panel{
    font-size: 30px;
    width: 100%;
    height: 15%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    overflow-x: scroll;

}

.btn-contenedor{
    display: flex;
    justify-content: space-around;
    

}

.btn-num{
    width: 60px;
    height: 60px;
    
}

.btn-opr{
    
    width: 50px;
    height: 50px;
}



.num-botones{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}

.cero{
    grid-column: 2;
}

.opera-botones{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(7,1fr);
}